.custom-scrollbar {
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f6f5f3;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
